.button__more {
    display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 28px;
  left: 88%;
  top: 4%;
  border: none;
  border-radius: 8%;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 53, 53);
}