.header {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: blueviolet;
  justify-content: center;
  box-shadow: 10px 5px 5px rgb(196, 133, 255);
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 38px;
  height: 28px;
  position: absolute;
  left: 88%;
  top: 4%;
  border: none;
  border-radius: 10%;
  font-size: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 53, 53);
}
.header__input {
  width: 320px;
  height: 28px;
  border: none;
}
.form {
  position: relative;
}
