.header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: blueviolet;
  justify-content: center;
  box-shadow: 10px 5px 5px rgb(196, 133, 255);
}
.header__button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 62%;
  top: 13%;
}
.header__input {
  width: 320px;
  height: 28px;
  border: none;
}
